html {
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

ul {
  position: relative;
  top: 200px;
}

li {
  display: inline-block;
}

a {
  text-decoration: underline;
  color: #fff;
}
